<!-- start custom head snippets -->

<!-- start -- favicons realfavicongenerator -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/images/site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/images/safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#1d1d1d">

<!-- end -- favicons -->

<!-- Start Of Inline CSS -->
<style type="text/css">
    {% include critical.css %}
</style>
<!-- End  Of Inline CSS -->

<!-- end custom head snippets -->
